:root {
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

.img {
  max-width: 100%;
}

body {
  background-color: #20202d;
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li {
  list-style: none;
  margin-right: 10px;
}

ul li a {
  text-decoration: none;
  color: #f5f5f5
}

.hero-section {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/* project */


.container {
  width: 90%;
  max-width: 945px;
  margin: auto;
}

.section {
  /* padding-top: 64px; */
  padding-bottom: 92px;
}

.logo {
  width: 50px;
  height: 50px;
}

.section-title {
  margin: 0;
  margin-bottom: 84px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.hero {
  padding-top: 50px;
  padding-bottom: 150px;
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}

.social-link {
  margin-left: 20px;
}

.social-link:first-child {
  margin-left: 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-subtitle {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #ffbb01;
  bottom: 14px;
}

.hero-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 16px;
  line-height: 28px;
  max-width: 420px;
  margin-bottom: 38px;
}

.mailto,
button {
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  box-shadow: 0px 4px 0px #b68500;
  border: none;
  border-radius: 5px 5px 10px 10px;
  padding: 24px 42px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.free {
  color: rgb(26, 25, 25);
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;

}

.hero-avatar {
  width: 650px;
  height: 389px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url("./img/avatar.jpg");
  background-repeat: no-repeat;
  background-position: 10 center 10px;
  background-size: cover;
  border: 9px solid #eca6ff;
}

/* features */

.features {
  background-color: #000000;
}

.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.feature-item {
  flex-basis: 25%;
  margin-bottom: 60px;
}

.features-image {
  display: block;
  margin-bottom: 15px;
  width: 50px;
}

.features-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.features-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

/* edu-block */
.edu-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edu-block h1 {
  font-size: 27px;
}

.edu-block ul {
  list-style: none;
  padding-left: 0;
}

.edu-block ul li {
  margin-bottom: 10px;
}

/* projects */

.projects {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.projects-slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 20px;
  transition: 0.5s;
  transition: box-shadow 0.5s ease-in-out;
  transform: 0.5 ease-in-out;
  border: 5px solid #f5f5f5;
  cursor: pointer;
}

.projects-slide:hover {
  transition: 0.5s;
  border: 5px solid #eca6ff;
  transform: translateY(-5px);
  box-shadow: 0px 20px 30px rgba(207, 59, 207, 0.06)
}

.project-text {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}

.project-title {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 41px;
}

.project-time,
.project-cost {
  flex-basis: 50%;
}

.project-time,
.project-cost,
.project-feedback {
  /* display: flex; */
  align-items: center;
  margin-bottom: 44px;
}

.project-subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.project-poragraph {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.project-icon {
  margin-right: 16px;
}

.project-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
  cursor: pointer;
}

.projects-bullet {
  margin-right: 16px;
  height: 10px;
  border: 2px solid #ffbb01;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.projects-bullet-active {
  background-color: #ffbb01;
}

.project-image {
  width: 338px;
  height: 220px;
}

.githubCenter {
  margin-top: 20px;
}

.gitLink {
  color: #a5a5a5;
  text-decoration: none;
}

.gitLink:hover {
  color: #434ffd;
  text-decoration: underline;
}

/* contacts */

.contacts-form {
  background: #ffffff;
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  max-width: 380px;
  padding-top: 40px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 49px;
}

.form-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 29px;
}

.input {
  background: #f8f8f8;
  border: none;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  padding: 18px 20px;
  padding-left: 50px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}

.input-name {
  margin-bottom: 17px;
  background-image: url("../img/user-icon.svg");
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.input-phone {
  margin-bottom: 17px;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.form-button {
  width: 100%;
}

.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-text {
  flex-basis: 50%;
}

.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

.contacts-phone,
.contacts-mail {
  flex-basis: 50%;
  margin-bottom: 50px;
}

.contacts-social {
  flex-basis: 100%;
}

.contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-link {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
}

.contacts-link:hover {
  text-decoration: underline;
}

.contacts-policy {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #a5a5a5;
  margin-top: 72px;
}

.links-to-auth {
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: 1px solid #f8f8f8;
}

.github-img {
  width: 30px;
}

.rs-app-img {
  width: 60px !important;
}

.footer-flex-box {
  display: flex;
  justify-content: space-between;
}

.padding-0 {
  padding-bottom: 0 !important;
}

@media(min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

